/* Theme colours are orange and blue originally but subject to change
$baseColor: #F06D06;

map marker colours EE6237
*/
html, body{
    width:100%;
    height:100vh;
    max-height:100vh;
    max-width:100%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:white;
    overflow:hidden;
}
a, a:hover, a:active {
    color: #3A4D9E;
}

#filters{
    background-color:#3A4D9E;
    height:100vh;
    padding:20vh 0 0 0;
    overflow:hidden;
}
    #innerfilters{
        width:100%;
        height:100%;
        overflow-y:scroll;
        overflow-x:hidden;
        padding-right: 19px;
        box-sizing: content-box;
        
    }
    .filter{
        padding: 2em 1em;
        width:100%;
        margin:0;
        border-bottom: 1px  solid #6A7DCE;
        background-color:#3A4D9E;
        line-height:1em;
        position:relative;
    }
        .fiter span{
            float:left;
          
        }
        .filter i, input{
            float:right;
           
        }
        .filter .ball{
            height:0.8em;
            width:0.8em;
            border-radius:0.8em;
            position:absolute;
            bottom:0;
            left:50%;
            background-color:white;
            transform: translateY(50%);
            z-index:3;
        }
        .filter .point{
            height:0.5em;
            width:0.5em;
            border-radius:0.5em;
            position:absolute;
            transform: translateY(50%);
            position:absolute;
            bottom:0;
            z-index:2;
            background-color:#6A7DCE;
        }
        .checked{
            background-color:#6A7DCE;
        }   
            .dropdown{
                width:100%;
                z-index:3;
                display:none;

            }
            .dropdown span{
                width:100%;
                padding:1em 1em;
                display:block;
                background-color:#6A7DCE;
                border-bottom: 1px solid #3A4D9E;
                line-height:1em;
            }
        #filterslider{
            width:100%;
            margin:0em;
            padding:0 1em;
            position:relative;
            top:3.5em;
            left:0;
            z-index:10;
            box-sizing:border-box;
        }
        #rating, #price{
            padding: 2em 1em 3em 1em;
        }
            #filterslider .rz-pointer{
                width:1em;
                height:1em;
                top:-0.5em;
                background-color:white;
            }
                #filterslider .rz-pointer:after{
                    width:0.5em;
                    height:0.5em;
                    top:0.25em;
                    left:0.25em;
                    background-color:#6A7DCE;
                    display:none;
                }
            #filterslider .rz-bar{
                background:#6A7DCE;
                height:1px;
            }
            #filterslider .rz-bubble{
                color:#6A7DCE;
                
            }
            #filterslider .rz-tick{
                width:0.5em;
                height:0.5em;
                background-color:#6A7DCE;
                left:-0.55em;
                
            }


#views{
    height:100vh;
    padding:10vh 0 0 0 ;
    margin:0;
    background-color:#212121; 
    cursor:pointer;
}

    #views .page{
        padding: 2em 0;
        text-align:center;
        width:100%;
        margin:0;
        background-color:#212121;
    }
        #views .page i{
            font-size:3em;
            margin-bottom:0.2em;
        }


#list{
    width:100%;
    height:100%;
    padding:2em;
    overflow-x:hidden;
    overflow-y:hidden;
    display:none;
    color:#212121;
    flex-direction:column;
}
    
    #list md-input-container{
        display: inline-block;
    }
    #list md-input-container label{
        display:inline-block;
    }
    #list md-select-value span:first-child{
        padding-right:2em;
    }
    #listControls{
        width:100%;
        flex: 0 1 auto;
        
    }
    #list md-card{
        margin: auto 0;
    }
    


    #listItems{
        width:100%;
        flex: 1 1 auto;
        overflow-y:scroll;
        padding-right:10em;
        box-sizing:content-box;
    }


#mapContainer{
    height:100vh;
    position:relative;
    padding:0;
    overflow-x:hidden;
    overflow-y:hidden;
}
    #map{
        width:100%;
        height:100%;
    }
    #mapContainer #submit{
        display:none;
        width:100%;
        height:100%;
        padding-right:5em;
        box-sizing:content-box;
        color:#212121;
        overflow-y:scroll;
        overflow-x:hidden;
    }
        #mapContainer #submitContainer{
            width:100%;
            height:100%;
            padding:2em;
            overflow-x:hidden;
        }
        #mapContainer #submit table{
            width:100%;
            
        }
        #mapContainer #submit md-chips{
            font-size:1em;
        }
        #mapContainer #submit table input{
            width:100%;
        }
        #mapContainer #submit table td:last-child div{
            width:100%;
        }
        #mapContainer #submit td{
            padding:0.5em 1em;
            text-align:bottom;
        }
        #mapContainer #submit h3{
            margin-bottom:1em;
        }
        #mapContainer #submit table td:first-child{
            font-weight:bold;
            padding-right:2em;
        }

        #mapContainer #submit tr:last-child button{
            float:right;
        }
            #ratingslider{
                width:100%;
                position:relative;
                
            }
            #ratingOpinion{
                font-size:0.5em;
                position:absolute;
                top:1em;
                right:2em;
                line-height:0.5em;
                text-align:bottom;
                
            }
                #mapContainer #submit table #ratingOpinion input{
                    width:auto;
                    display:inline-block;
                    padding-left:0.2em;
                    margin-top:0;
                    margin-left:1em;
                }
            #ratingSliderContainer {
                position:relative;
            }

            #submit .rz-pointer, #reviews .rz-pointer{
                width:1em;
                height:1em;
                top:-0.5em;
                background-color:#3A4D9E;
            }
            
                #submit .rz-pointer:after, #reviews .rz-pointer:after{
                    width:0.5em;
                    height:0.5em;
                    top:0.25em;
                    left:0.25em;
                    background-color:#6A7DCE;
                    display:none;
                }
               
            #submit .rz-bar, #reviews .rz-bar{
                background:#6A7DCE;
                height:2px;
            }
            #submit .rz-tick, #reviews .rz-tick{
                width:0.5em;
                height:0.5em;
                background-color:#6A7DCE;
                left:-0.55em;
            }
            
            #submit .rz-bubble, #reviews .rz-bubble{
                color:#212121;
                
            }
           
            #submit .rz-selection, #reviews .rz-selection{
                color:#3A4D9E;
            }
                #submit .rz-disabled .rz-selection {
                    color:slategray;
                }

                #submit .rz-disabled .rz-bar , 
                #submit.rz-disabled .rz-pointer:after , 
                #submit .rz-disabled .rz-tick {
                    background-color:lightgrey;
                }
                #submit .rz-pointer :disabled{
                    background-color:slategrey;
                }

            


#restaurantPopUp{
    width:100%;
    position:absolute;
    top:200%;
    transform: translateY(-100%);
    background-color:white;
    color: #3a3a3a;
    padding:3em 2em 2em 2em;
    z-index:11;
    transition: 0.5s ease-out;
    max-height:70vh;
}
    #restaurantPopUp #circle{
        height:4.2em;
        width:4.2em;
        position:relative;
        text-align:center;
        top:0.5em;
        left:0.5em;
        font-size:1em;
        padding-top:1.5em;
        overflow:hidden;
        font-weight:bold;
        border-radius:100%;
        background-color: white;
    } 
        #circle h4{
            font-weight:bold;
            color: #3a3a3a;
        }
   
    #restaurantPopUp #circlePercent{
        height:5.2em;
        width:5.2em;
        position:absolute;
        top:0%;
        line-height:1;
        transform: translateY(-50%);
        right:1em;
        border-radius:100%;
        background-color:#6A7DCE;
        box-sizing:content-box;
        /*background-image: linear-gradient( -90deg, transparent 50%, #6A7DCE 50%),  linear-gradient( 90deg, #6A7DCE 50%, transparent 50%);*/
        
    }


    #circlePercent h4{
        width:100%;
        padding:0;
        margin:0;
        position:absolute;
        text-align:center;
        z-index:20;
        top: 50%;
        transform: translateY(-50%);
        font-weight:bold;
    }


                


    #restaurantInfo {
        font-size:1em;
    }
        #restaurantPopUp h3{
            padding-bottom:0.5em;
            font-weight:bold;
        }
            #restaurantInfo td:first-child,
            #restaurantEdit td:first-child,
            #reviews td:first-child{
                font-weight:bold;
            }
            #restaurantEdit td, #restaurantInfo td{
                padding: 0.5em 1em;
            }
            #restaurantEdit tr:last-child{
              
            }
            #mainEditSubmit{
                float:right;
            }
            #restaurantInfo table,
            #restaurantEdit table, #reviews table{
                width:100%;
            }
            #restaurantInfo tr:nth-child(odd),
            #restaurantEdit tr:nth-child(odd),
            #reviews tr:nth-child(odd),
            #submit tr:nth-child(odd),
            #listItems md-card:nth-child(odd){
                background-color:rgba(106,125,206,0.2);
                
            }
            #reviews  .title{
                /*background-color:#6A7DCE;*/
                border-bottom: 2px solid #6A7DCE;
                width:100%;
                padding:0.2em 1em;
                display:block;
                margin-top:1em;
            }
            #reviews input{
                width:100%;
                border:none;
                padding-left:1em;
            }

    #restaurantPopUp #btns{
        position:absolute;
        top:0px;
        right:7em;
        cursor:pointer;
    }
        #restaurantPopUp #btns #infoBtn{
            background-color:#3A4D9E;
        }
        #restaurantPopUp #btns span{
            padding:0.2em 0.5em;
            margin-left:0.1em;
            display:inline-block;
            background-color:#3a3a3a;
            color:white;
            font-size:1em;
            border-bottom-left-radius: 0.5em;
            border-bottom-right-radius: 0.5em;
        }
    #restaurantPopUp #restaurantEdit{
        
        display:none;
        overflow-x:hidden;
    }
    #restaurantEditForm{
        overflow-y:scroll;
        padding-right: 19px;
        box-sizing: content-box;
    }
    #restaurantEdit input{
        width:100%;
        
        border:none;
        padding-left:1em;
    }
    
    #restaurantPopUp #reviews{
        display:none;
        overflow-x:hidden;
        overflow-y:auto;
    }
        #restaurantPopUp #reviews td{
            padding-left: 1em;
            padding-right:1em;
            padding: 0.5em 1em;
        }

        #restaurantPopUp #reviews .currentReviews{
            overflow-y:scroll;
            padding-right: 19px;
            box-sizing: content-box;
            overflow-x:hidden;
            max-height:30vh;
            width:100%;
         
        }
        #restaurantPopUp #reviews .currentReviews div{
            
            width:100%;
            padding:0.5em 1em;
            
            /*#3a3a3a;*/
        }
            #restaurantPopUp #reviews .currentReviews div:nth-child(odd){
                background-color: rgba(106,125,206,0.2);
            }
            /*
            #restaurantPopUp #reviews .currentReviews  div:nth-child(even){
                background-color: rgba(106,125,206,1);
            }
*/
            


.btn-primary{
    background-image:#6A7DCE ; /*linear-gradient(to bottom,#6A7DCE 0,#3A4D9E 100%);*/
    border-color:#3A4D9E;
    background-color:#6A7DCE ;
}
#restaurantEdit .btn-primary ,
#reviews .btn-primary,
#submit .btn-primary{
    background-image:linear-gradient(to bottom,#3A4D9E 0,#3A4D9E 100%);
    border-color:#3A4D9E;
    background-color:#6A7DCE ;
}
#restaurantEdit .btn-primary.active,
#reviews .btn-primary.active,
#submit .btn-primary.active {
    background-image:linear-gradient(to bottom,#6A7DCE  0,#6A7DCE  100%);
    background-color:#6A7DCE ;
}
#restaurantEdit .btn-primary:focus,
#reviews .btn-primary:focus,
#submit .btn-primary:focus{
    background-image:linear-gradient(to bottom,#6A7DCE  0,#6A7DCE  100%);
    background-color:#6A7DCE ;
}
#restaurantEdit .btn-primary:hover,
#reviews .btn-primary:hover,
#submit .btn-primary:hover {
    background-image:linear-gradient(to bottom,#6A7DCE 0,#3A4D9E 100%);
    background-color:#3A4D9E ;
}
.btn-primary:focus{
    background-color:#3A4D9E;
}
.btn-primary.focus{
    background-color:#3A4D9E;
}

.btn-primary:active:focus{
    background-color: #3A4D9E;
}
.btn-primary:active.focus{
    background-color: #3A4D9E;
}
.btn-primary.active:focus{
    background-color: #3A4D9E;
}
.btn-primary.active.focus{
    background-color: #3A4D9E;
}

#cuisineDropDown.focus{
    background-color: #3A4D9E;  
}
#cuisineDropDown:focus{
    background-color: #3A4D9E;  
}
#cuisineDropDown.active{
    background-color: #3A4D9E;  
}
#cuisineDropDown:active{
    background-color: #3A4D9E;  
}

.btn-primary.dropdown-toggle.active:focus{
    background-color: #3A4D9E;  
}
.btn-primary.dropdown-toggle:active:focus{
    background-color: #3A4D9E;  
}
.btn-primary.dropdown-toggle.active.focus{
    background-color: #3A4D9E;  
}
.btn-primary.dropdown-toggle:active.focus{
    background-color: #3A4D9E;  
}

.btn-primary:active:hover{
    background-color: #3A4D9E;
}
.btn-primary:active.hover{
    background-color: #3A4D9E;
}
.btn-primary.active:hover{
    background-color: #3A4D9E;
}
.btn-primary.active.hover{
    background-color: #3A4D9E;
}
.btn-primary.active{
    background-color: #3A4D9E;
    border-color: #6A7DCE;
}
.btn-primary:active{
    background-color: #3A4D9E;
    border-color: #6A7DCE;   
}
.btn-primary:hover{
    background-color: #3A4D9E;
    border-color: #6A7DCE;
}
.btn-primary.hover{
    background-color: #3A4D9E;
    border-color: #6A7DCE;
}

#enter-name input.ng-invalid,  #enter-address input.ng-invalid {
    border-color: rgba(238,98,55,1);
    
}
#enter-name input.ng-valid, #enter-address input.ng-valid {
    border-color: rgba(124,184,68,1);
}

#mainSubmit:disabled{
    background-color:grey;
    border-color:black;
}

.md-chips{
    font-size:14px;
    font-weight:normal;
}

#restaurantEdit md-chips-wrap{
    margin:0;
    padding-left:0;
}

